{% extends 'base.html' %}

{% block content %}
    <!-- {% block title %} Главная {% endblock %} -->
    <div class="leads_wrapper">
    {% for lead in leads %}
        <div class="post post_list">
            <!-- <p><span class="dayWeek">{{ lead['id'] }}</span>{{ lead['name'] }}</p> -->            
            <form class="form_leads" action="{{ url_for('lead_edit', id=lead['id']) }}" method="POST">
                <input class="input_leads" type="text" name="name" value="{{ lead['name'] or request.form['name'] }}"></input>
                <input class="edit" type="submit" value=&#128221;
                        onclick="return confirm('Вы действиетльно хотите изменить?')">
            </form>      
            <form id="trash_form" action="{{ url_for('lead_delete', id=lead['id']) }}" method="POST">
                <input class="edit" type="submit" value=🗑️
                        onclick="return confirm('Вы действиетльно хотите удалить?')">
            </form>                                       
        </div>
    {% endfor %}
        <div class="post" id="post_add">
            <form method="POST">
                <input class="input_leads" type="text" name="new_name" value="{{ request.form['new_name'] }}"></input>
                <button class="edit" type="submit">Добавить</button>
            </form>
        </div>
    </div>
{% endblock %}